<!DOCTYPE html>
<html lang="en">

<head>
    <title>WPBL Numbers | Pitching Leaders</title>

    <link rel="stylesheet" href="static/css/style.css">

    <link href="https://cdn.datatables.net/v/dt/dt-3.0.2/datatables.min.css" rel="stylesheet"
        integrity="sha384-mr0ObFSzaij8F1fFA3BsXCL998+r9tYwkJmx/gydwbT8Mq8EeJwBlqWm5uFUrFbu" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/dt/dt-3.0.2/datatables.min.js"
        integrity="sha384-S27Gmq+yiALyXvt4WgoOs+8UonZ/LMOqnCNC6xSj1vGgbHxMvcgkFYUHvkSfW5fo"
        crossorigin="anonymous"></script>
    <script>
        const allRateStats = {{ all_rate_stats | tojson }};
    </script>
    <script src="static/js/pitching-leaders.js" defer></script>
</head>

<body>
    <header>
        <h1><a href="/">WPBL Numbers</a></h1>

        <ul>
            <li><a href="/">Normal Stats</a></li>
            <li><a href="/linear-weights">Linear Weights</a></li>
        </ul>
    </header>

    <main>
        <h2>Pitching Leaders</h2>

        <input type="checkbox" id="filter-qualified" checked class="space-above">
        <label for="filter-qualified">Filter qualified (≥ 3.1 IP per team game)</label>

        <div class="table-container">
            <table id="pitching-stats" class="cell-border compact order-column nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        {% set key = stats.keys() | first %}
                        {% for key in stats[key]: %}
                        {% if key != 'qualified' %}
                        <th>{{key}}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for name, row in stats.items(): %}
                    <tr class="{% if row.get('qualified', False): %}qualified{% endif %}">
                        <td>{{name}}</td>
                        {% for stat, value in row.items(): %}
                        {% if stat != 'qualified' %}
                        <td>{{value}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p><a id="download" class="download-button" download="pitching-leaders.csv"
                onclick="downloadTableAsCSV()">Download as CSV</a></p>
    </main>

    <footer>
        <p>Created by <a href="https://github.com/rockysnow7" target="_blank">finn</a> / Data updated every night at
            midnight</p>
    </footer>
</body>

</html>