@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    font-family: "IBM Plex Serif", serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff4fd;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    padding: 0;
    padding-top: 22px;
    margin: 0;
    margin-bottom: 18px;
    font-size: 1.8rem;
}

p,
td,
th,
input,
label {
    font-weight: 400;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

a.download-button {
    background-color: rgb(31, 102, 255);
    border: 1px solid rgb(31, 102, 255);
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9em;
    opacity: 0.9;
}

a.download-button:hover {
    background-color: rgb(69, 128, 255);
    border-color: rgb(69, 128, 255);
    opacity: 1;
}

a.download-button:active {
    background-color: rgb(31, 102, 255);
    border-color: rgb(0, 64, 203);
    border-width: 2px;
    opacity: 1;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h1 a:visited {
    color: inherit;
}

table,
p {
    margin-top: 5px;
}

p {
    text-indent: 20px;
    padding-top: 0;
}

input[type="checkbox"] {
    margin-left: 20px;
}

table {
    background-color: white;
    border: 1px solid darkgrey;
}

td {
    width: 10px !important;
}

th {
    background-color: #f3f3f3;
}

tr:hover td {
    background-color: #fff893 !important;
}

tr.highlight td {
    background-color: #ffc884 !important;
}

tr.highlight:hover td {
    background-color: #ffdbb0 !important;
}

.hidden {
    display: none;
}

tr.league td {
    font-weight: 600;
    font-style: italic;
}

tr.league td {
    background-color: #f3f3f3;
}

div.table-container {
    width: 40%;
}

.space-above {
    margin-top: 20px;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

header {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

header h1 {
    padding-left: 20%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20%;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    margin-left: 0;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    text-decoration: none;
    color: black !important;
    border-bottom: 3px solid transparent;
}

header ul li.current-page a {
    border-bottom: 3px solid blue;
}

header ul li:hover a {
    border-bottom: 3px solid #ccc;
}

@media (max-width: 700px) {

    header h1,
    header ul {
        padding-left: 20px;
    }

    main {
        padding: 30px 16px 50px;
    }
}