body {
    background-color: #f1ffef;
    font-family: serif;
}

main {
    width: 50%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 0;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

table,
p {
    margin-top: 5px;
}

p {
    text-indent: 1em;
}

table {
    background-color: white;
    border: 1px solid darkgrey;
}

td {
    width: 10px !important;
}

tr:hover td {
    background-color: #fff893 !important;
}

tr.highlight td {
    background-color: #ffc884 !important;
}

tr.highlight:hover td {
    background-color: #ffdbb0 !important;
}

.hidden {
    display: none;
}

tr.league {
    border-top-color: #c8c8c8;
    font-weight: bold;
    font-style: italic;
}

tr.league td {
    background-color: #e3e3e3;
}

div.table-container {
    width: 50%;
}